/* .calendar{
    height: 35vh;
    margin-top: 10vh;
    max-width: 100%;
    /* max-height: 200px; 
    
}*/

.calendarInfo{
    align-items: center;
}

/*.bigCalendar-container{
    display: flex;
    position: relative;
    align-items: right;
    margin-left: 18vh;

} */
.calendar-img{
    height: 250px;
    margin-top: 20px;
}
.calendar-mini{
    max-width: 2500px;
    margin-left: 7vh;
    margin-top: 5vh;
    
}

.content-calendar{
    display: grid;
    position: relative;
    left: 60vh;
    margin-top: 10vh;
    
    overflow: scroll;
}

.calendar {
    position:relative;
    
}

.calendar th,
.calendar td {
    padding: 1em 2em;
}
@media all and (max-width: 300px) and (max-heigth: 800px ) {
    .calendar th,
    .calendar td {
        padding: 3px;
    }
}

.calendar th {
    background: #efefef;
    font-family: 'Roboto', sans-serif;
}
.calendar-head thead{
    background-color: #3DB39E ;
}


.calendar td {
    text-align: center;
}

.calendar .today {
    font-weight: bold;
    background-color: #3DB39E;
}

.calendar .active {
    background-image: linear-gradient(120deg, #84fab0 0%, #9fffda 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.month-selector th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.month-cell:hover {
    background: #efefef;
    cursor: pointer;
}

.select-month-title {
    font-weight: bold;
    background: #efefef;
}

.toggle-month {
    text-align: center !important;
}

.toggle-month:hover{
    cursor: pointer;
    background: #368678;
}
.week-day:hover {
    cursor: pointer;
    background: #efefef;
}

.arrow-icon {
    padding: 5px 0 0 5px;
    animation: 1s infinite;

    
}
.arrow-icon:hover{
    transform: translatey(5px);
        
}

.calendar .selected-day {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(120deg, #baeaf3 0%, #8efcaf 100%);
}

.paper {
    padding: .25em 1.5em 1.5em 1.5em;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow-y: no-scroll;
}
.paper::-webkit-scrollbar {
    display: none;
  }

svg.MuiSvgIcon-root {
    transition: 250ms ease;
}
svg.MuiSvgIcon-root:hover {
    cursor: pointer;
    opacity: .5;
}

.paper-activities {
    padding: .25em 1.5em 1.5em 1.5em;
    display: flex;
    overflow: hidden;
    align-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.btn-return{

    display: flex;
    margin-left: 800px;
    margin-top: 20px;
    background-color: #5db1d8;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border-color: #5db1d8;

}
.btn-see{
    display: flex;
    margin-left: 15vh;
    margin-top: 1vh;
}

