@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title-career-ambition {
    font-family: 'Roboto', sans-serif;
}

.title-value-career-ambition {
    font-family: 'Roboto', sans-serif;
    color:#001E52;
}
.career-ambition {
    position: absolute;
    width: 911px;
    height: 99px;
    left: 462px;
    top: 17px;
}

.btn-career-ambition {
    align-items: flex-start;
}