@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.container-commitments {
  position: absolute;
  width: 911px;


  left: 467px;
  top: 384px;
  background-color: #f5f5f5;
  border-radius: 15px;
  max-height: 100vh;
}

.title-commitments-table {
  font-family: "Roboto", sans-serif;
}
